{{define "about"}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

  {{template "header"}}

  <body>

    <div id="body">
      <div id="header">{{template "navigation"}}</div>
      
      <div id="content">
      	<section>
      		<div class="container">
	            <div class="row">
	                <div class="col-sm-12 text-center">
	                  <h1>A propos</h1>
	                </div>
	            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-2">
              	<p class="lead">{{. | markDown}}</p>
              </div>
            </div>
      	</section>
      </div>
    </div>

   	{{template "footer"}}

  </body>

</html>
{{end}}